// Fonts
$Roboto: "Roboto", sans-serif;

$cyber-grape: #694a87 !default;
$viridian-green: #4a8769 !default;
$denim-blue: #3788cd !default;
$gin-grey: #edf3ef !default;
$white: #fff !default;
$black: #000 !default;
$teal: #367588 !default;

//Create greyscale
$gray-22: #222222 !default;
$gray-40: #404040 !default;
$gray-5E: #5e5e5e !default;
$gray-7C: #7c7c7c !default;
$gray-9A: #9a9a9a !default;
$gray-B8: #b8b8b8 !default;
$gray-D6: #d6d6d6 !default;
$gray-F4: #f4f4f4 !default;
$gray-F9: #f9f9f9 !default;
$gray-FF: #ffffff !default;
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #c9c7c7 !default;
$gray-lighter: #f3f3f3 !default;
