@import "../utils/variables";

.gr-layout-content {
    margin: 40px 50px;
    min-height: calc(100vh - 210px);
    .icon {
        height: 40px;
    }
}

.gr-layout-header {
    width: 100%;
    height: 70px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        height: 50px;
        cursor: pointer;
    }
}

.layout-footer {
    background: $gray-D6;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
