@import "../utils/variables";

.gr-layout-content {
    margin: 40px 50px;
    min-height: calc(100vh - 200px);
    .icon {
        height: 35px;
    }
}

.gr-layout-header {
    width: 100%;
    // background-color: $teal;
    background-image: linear-gradient(to right, $teal, $viridian-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        margin: 5px 0;
        height: 50px;
        cursor: pointer;
    }
}

.layout-footer {
    background-image: linear-gradient(to right, $teal, $viridian-green);
    color: $white !important;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
