@import "../utils/variables";

.gr-layout-content {
    margin: 20px 0;
    .custom-card {
        .ant-card-head {
            background: $gray-D6;
        }
    }
}

.gr-layout-header {
    width: 100%;
    height: 70px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        height: 50px;
        cursor: pointer;
    }
}

.layout-footer {
    background: $gray-D6;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
